*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body{
	font-family: "Bebas Neue", sans-serif;
}
p{
	font-family: "Montserrat", sans-serif;
}
.bg-custom-primary{
	background-color: #675D50;
}
.bg-custom-secondary{
	background-color: #F3DEBA;
}
.bg-custom-alt{
	background-color: #A9907E;
}

.custom-text{
	font-family: "Bebas Neue", sans-serif;
}
hr{
	border: 2px solid black;
}